/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

nav a.active{
    border: 1px solid white;
    border-radius: 20px;
}

.mat-autocomplete-panel.mat-autocomplete-visible {
    width: 75%;
    margin: -2% 5%;
    
}
